
.signin-page {
  

    /* background-image: url("../Assests/71316.jpg"); */
    background:linear-gradient(210deg, #020202, #434343, #070707, #090909); /* Gradient animation */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

 @media only screen and (max-width: 600px) {
    .signin-page {
        background-position: top;
    } 
}

.form-container {
    background-color: rgba(35, 34, 34, 0.603);
    height: 500px;
    width: 100%;
    max-width: 400px; /* Ensures that the form container doesn't exceed this width */
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;  /* Equivalent to 'rounded-5' in Bootstrap */
    border: 4px solid green;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; 
}

  /* Title styling */
  .form-container h2 {
    margin: 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  /* Input fields styling */
  .form-container .form-control {
    padding: 10px;
    margin: 10px;
    border-radius: 5px; 
    border: 1px solid green;
    width: 300px;
  }
  
  /* Button styling */
  .form-container .rounded-pill {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid green;
    background: #008bfd00;
    color: #28c66a;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container.rounded-pill:hover{
    border: none;
  }
  .form-control::placeholder {
    color: #28c66a; /* Replace with your desired color */
    opacity: 1; /* Adjust opacity if needed */
}
  /* Link styling */
  .form-container h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container h1 a {
    text-decoration: none;
  }
  