/* Background Layout */
.signup-page {
  height: 100vh;
  width: 212vh;
  background-image:url('../assets/Background.jpg') ;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content:center;
  align-items: center;
}

/* Signup Box */
.signup-container {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 25px rgba(11, 11, 11, 0.877);
  width: 100%;
  max-width: 400px;
  text-align: left;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #1f2937;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 25px;
}

.subtitle a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

/* Form Styles */
label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #afafaf;
  color: black;
}

/* Password Field */
.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 11px;
  cursor: pointer;
  font-size: 18px;
}

.eye{
    width: 30px;
}
/* Cookies */
.cookie {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-top: 20px;
}

.cookie p {
  font-size: 0.8rem;
  color: #666;
}

.cookie a {
  color: #2563eb;
  text-decoration: none;
}

/* Button */
.signup-btn {
  width: 100%;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s ease;
}

.signup-btn:hover {
  background-color: #229cd8;
}

/* Terms */
.terms {
  font-size: 0.8rem;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.terms a {
  color: #2563eb;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 500px) {
  .signup-container {
    width: 90%;
    padding: 30px 25px;
  }

  h2 {
    font-size: 1.5rem;
  }
}
