html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.Main{

     background: linear-gradient(210deg, #020202, #434343, #070707, #090909); 
     background-attachment: fixed; /* Keeps background fixed */
     background-size: cover;
     background-position: center;
     height: 100vh; /* Ensures it covers the full viewport height */
     width: 100vw; /* Ensures it covers the full viewport width */
    
}